@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@700&family=Trade+Winds&display=swap');
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-card {
  transition: transform 0.1s ease-in-out;
}

.video-card:hover {
  transform: scale(1.05);
}

.navbar .btn.active {
  background-color: #505050 !important;
  border-radius: 8px;
}

.body{
  background-color: black;
}
