:root {
  --bs-body-font-family: 'Roboto Slab', serif !important;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video-card {
  transition: transform 0.1s ease-in-out;
}

.video-card:hover {
  transform: scale(1.05);
}

.navbar .btn.active {
  background-color: #505050 !important;
  border-radius: 8px;
}

.body{
  background-color: black;
}
